<p>
The Dividend bot has started!
<br>
You don't have to do anything it's running in the background.
<br>
<br>
Please log into dividend and check the pipeline for the status of the application.
<br>
<br>
Here's the dividend link - copy and paste this into a new tab in your browser.
<br>
https://partner.solar/index/1518829639558x732872565742582100
<br>
<br>
You may now leave this page.
</p>