<p>
You have successfully started the Dividend bot.
<br>
<br>
Please log into dividend and check the status of the application.
<br>
<br>
https://partner.solar/index/1518829639558x732872565742582100
<br>
<br>
You may now leave this page.
</p>